<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="form-container">
	 <label for="to" class="more">To send emails to multiple recipients comma ", " and space between emails</label>
	 <br>
        <form method="post" action="/">
            <label for="to">From:</label>
		
			<input type="email" name="from" readonly value="<%=email%>">
			<br>
            <label for="to">To:</label>
           
            <input placeholder="" type="text" name="to" required>
			<br>
			
            <label for="subject">Subject:</label>
            <input type="text" name="subject" required>
			<br>
            <label for="html">The Message:</label>
            <textarea name="html" rows="4" required></textarea>
			<br>
            <button type="submit">Send</button>
		<p class="linkedin">Made By <span style="color:blue; text-transform: uppercase;" > Bashar Mahmood, </span>You can Follow Me on <a target="_blank" href="https://www.linkedin.com/in/bashar-al-thawabta/">LinkedIn</a>.<br><br><span style="text-transform: uppercase;"> Feel Free To use this code in every where!</span></p>
        </form>
    </div>
	
	

</body>
<footer>
	
	
</footer>
</html>
